################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/pakensite/v16/.suo
